@model CyrensService.Models.Stories

@{
    ViewData["Title"] = "Details";
    int goNext = Model.Id;
}

<h2>Details</h2>

<div>
    <h4>Stories</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Select picture:
        </dt>
        <dd>
            <a asp-action="Details" onclick="@(goNext+=1)" asp-route-id="@goNext">Next</a>
        </dd>
        <dd>
            <a asp-action="Details" onclick="@(goNext-=2)" asp-route-id="@goNext">Previous</a>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Picture)
        </dt>
        <dd>
            <img src="@Html.DisplayFor(model => model.Picture)" />
        </dd>
        <dt>Path: </dt>
        <dd>@Html.DisplayFor(model => model.Picture)</dd>
        <dt>
            @Html.DisplayNameFor(model => model.Subscription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Subscription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Likes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Likes)
        </dd>
        <dd>
            <a asp-action="Like" asp-route-id="@Model.Id">Like it!</a>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Unlikes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Unlikes)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
