@model CyrensService.Models.Stories

@{
    ViewData["Title"] = "Details";
    int goNext = Model.Id;
}

<div>
    <br />

    @Html.ActionLink("Previous", "Details", "Home", new { id = Model.Id - 1 }, htmlAttributes: new { @class = "btn btn-success", @role = "button" })
    @Html.ActionLink("Next", "Details", "Home", new { id = Model.Id + 1 }, htmlAttributes: new { @class = "btn btn-success", @role = "button" })
    <br />
    <br />
    @{
        string likesTitle = "Like it! " + Model.Likes;
        string dislikesTitle = "Don't like! " + Model.Unlikes;
    }

    @Html.ActionLink(likesTitle, "Like", "Home", new { id = Model.Id }, htmlAttributes: new { @class = "btn btn-primary", @role = "button" })
    @Html.ActionLink(dislikesTitle, "Unlike", "Home", new { id = Model.Id }, htmlAttributes: new { @class = "btn btn-primary", @role = "button" })
    <br />
    <br />
    <img src="@Html.DisplayFor(model => model.Picture)" />
    <br />

    @Html.DisplayFor(model => model.Subscription)

    @Html.DisplayFor(model => model.Comment)

    Likes: @Html.DisplayFor(model => model.Likes)

    Unlikes:  @Html.DisplayFor(model => model.Unlikes)
</div>
