@model IEnumerable<CyrensService.Models.Persons>

@{
    ViewData["Title"] = "Index";
}

<article style="white-space: pre;">
    Trzeci wymiar wykresu

    Algorytm rzutu perspektywicznego trójwymiarowej rzeczywistości na ekran.

    Bryły zdefiniowane są w trzech wymiarach za pomocą trzech współrzędnych (x, y, z).
    Chcąc obrócić bryłę, należy dokonać przekształcenia za pomocą wzorów na obroty.

    Bryłę można obracać wokół wszystkich trzech osi (OX, OY, OZ), a do obrotu wokół każdej z nich służy inny wzór.

    a) Obrót wokół osi OX
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
    </script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>
    \(Yn = Y*\cos(kątX)-Z*\sin(kątX)\)
    \(Zn = Y*\sin(kątX)-Z*\cos(kątX)\)

    Yn - nowa współrzędna Y
    Zn - nowa współrzędna Z
    Y - stra współrzędna Y
    Z - stara współrzędna Z
    kątX - kąt obrotu wokół osi OX

    Podczas obrotu wokół osi OX współrzędna X nie zmienia się.

    Źródła:
    1. Rzutowanie. Przedstawiwanie obiektow 3D na plaszczyznie.
    Zrodla:
    a) Efekty graficzne w assemblerze - Michal Gawrylczyk
    b) PC WORLD (pazdziernik/2006) - Trzeci wymiar wykresu
    c) Uniwersytet Lodzki, Wydzial Matematyki i Informatyki, Katedra Geometrii - Wyklad Marek Bad
    <a href="http://www.math.uni.lodz.pl/~marekbad/files/grafika/cg_exam/Wyklad_04_Rzutowanie.pdf">http://www.math.uni.lodz.pl/~marekbad/files/grafika/cg_exam/Wyklad_04_Rzutowanie.pdf</a>
    <div>
        When $a \ne 0$, there are two solutions to \(ax^2 + bx + c = 0\) and they are
        $$x = {-b \pm \sqrt{b^2-4ac} \over 2a}.$$
    </div>
    <br />
    <a href="https://docs.mathjax.org/en/latest/start.html">https://docs.mathjax.org/en/latest/start.html</a>
    <br />
</article>

<h2>Finite Element Method (FEM)</h2>

<p>
    @*<a asp-action="Create">Create New</a>*@
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Age)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
